#listings-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 20px;
}

#images {
    width: 80%;
}

@media screen and (min-width: 725px) {
    #listings-display {
        grid-template-columns: 1fr 1fr;
    }

    #images {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    #listings-display {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
